app.mnemonic=MNEMONIC/MT9xx Mnemonic - Agung.csv
app.pathBackup=D:\\Converter-MT940-H2H-Non-Encrypted-ADMF\\BACKUP\\
app.pathDecrypt=D:\\Converter-MT940-H2H-Non-Encrypted-ADMF\\IN\\
app.pathDecryptResult=D:\\Converter-MT940-H2H-Non-Encrypted-ADMF\\DECRYPT\\
app.pathKeyDecrypt=D:\\Converter-MT940-H2H-Non-Encrypted-ADMF\\KEY\\
app.privateKeyDecrypt=D:\\Converter-MT940-H2H-Non-Encrypted-ADMF\\KEY\\PrivateKey.asc
app.publicKeyDecrypt=D:\\Converter-MT940-H2H-Non-Encrypted-ADMF\\KEY\\PublicKey.asc
app.passphraseDecrypt=D:\\Converter-MT940-H2H-Non-Encrypted-ADMF\\KEY\\pass.txt
app.pathMnemonic=D:\\Converter-MT940-H2H-Non-Encrypted-ADMF\\MNEMONIC\\
app.pathMt=D:\\Converter-MT940-H2H-Non-Encrypted-ADMF\\MT\\